<!DOCTYPE html>
<html ng-app>
<head>
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<meta charset=utf-8 />
<title>編輯新聞</title>
</head>
<body>
<div>
<h1>編輯新聞</h1>
</div>
<div>
	<input>搜尋新聞<button>查詢</button>
</div>
<div>
<ul>
<li>摘要一</li>
<li>摘要二</li>
<li>摘要三</li>
<li>摘要四</li>
<li>摘要五</li>
<li>摘要六</li>
<li>摘要七</li>
</ul>
</div>
<div>
	<textarea>編輯新聞</textarea>
    <button>submit</button>
</div>
<div>
<p>
	<input>youtube link<button>submit</button>
	</p>
</div>
<div>
<p>	ID:<input> PWD:<input> <button>submit</button></p>
</div>
</body>
</html>