<!DOCTYPE html>
<html ng-app>
<head>
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<meta charset=utf-8 />
<title>新聞</title>
</head>
<body>
<div>
<h1>IS再斬英人質 英領導人譴責</h1>
</div>
<div>
	<h1>youtube畫面</h1>
</div>
<div>
<h5>英國志工亨寧前往敘利亞參與救援遭伊斯蘭國斬首，成為最新一名被行刑喪命錄影的西方人質，英國首相卡麥隆與各政黨領袖今天一致嚴厲譴責伊斯蘭國的殘酷暴行。

47歲的亨寧（Alan Henning）原本是在曼徹斯特執業的計程車司機，與妻子芭芭拉（Barbara）育有一對年齡分別為15和17歲的子女。

這位充滿愛心的運將不忍敘利亞內戰導致境內兒童生活陷入困境，迫切需要衣服、藥品、食品及睡眠用品，他在家人支持下，決定留職停薪前往敘利亞參加援助工作。

亨寧被伊斯蘭國恐怖分子綁架前，在土耳其邊境拍攝的影片中曾說，當他看到救援物資送到難民手上，一切的努力都值得了，所有志工的犧牲和敘利亞人民每天經歷的痛苦相比都不算什麼。

亨寧的妻子芭芭拉日前在電視上懇求伊斯蘭國手下留情，釋放亨寧，表示亨寧是因為參與人道援助工作才前往敘利亞，「我們家人很需要他回家」，但這番溫情喊話顯然沒有奏效，亨寧還是成了伊斯蘭國刀下冤魂。

亨寧是繼美國記者佛里（James Foley）、索特羅夫（Steve Sotloff）及蘇格蘭志工海恩斯（DavidHaines）後，第4名被伊斯蘭國公開斬首錄影畫面的西方人質，下一名命在旦夕的人質是美國男子卡西格（Peter Kassig）。

卡麥隆在確定亨寧被斬首後，痛批伊斯蘭國謀殺亨寧的行徑，暴露出這些恐怖分子野蠻與醜惡的面目，政府將會盡一切可能，逮捕這些謀殺者並將他們繩之以法。

副首相克萊格（Nick Clegg）向亨寧的家屬表達哀悼，並誓言將消滅邪惡的伊斯蘭國，他說，亨寧無私的奉獻給那些最需要幫助的人，在這艱難的時刻，大家都應該記得他的好。

工黨黨魁米勒班（Ed Miliband）則指出，謀殺亨寧的凶手暴露出他們缺乏人性及殘酷的面目，他向亨寧的家屬表達哀悼，並將竭盡所能支持政府，讓這些殺人的恐怖分子接受法律制裁。</h5>
</div>
<div>
	<h3>作者簡介<button><h5>訂閱</h5></button></h3>
	<p>
		我是隻小小鳥,飛又飛叫又叫,自由消遙
	</p>
</div>
<div>
	<h3>留言板</h3>
	<textarea></textarea>
</div>
</body>
</html>